*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  background: -moz-linear-gradient(#3AB17E, #2F406F); 
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

body {
  color: #333;
  height: 100%;

  
}

h1 {
  padding: 10px 0;
  color: #000;
  font: 2em 'Calibri', sans-serif;
  text-align: center;
}

.menu {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  
}

nav {
  background-color: #ffffff;
  opacity: 0.75;
}

ul a {
  display: block;
  padding: 15px 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 14px;
  font-family: Calibri;
  font-weight: bold;
  text-align: center;
  color: #888;
  cursor: pointer;
  text-decoration: none;
}

ul a:hover {
  background: #eee;
}

nav li {
  float: left;
  width: 20%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

nav li:nth-child(-n+2) {
  
  border-top: 1px solid #ddd;
}
